[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:andywhite37/andywhite37.github.io
	branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:luizdepra/hugo-coder.git
